body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  background-color: black }

h1 {
  font-family: Helvetica, Geneva, Arial,
        SunSans-Regular, sans-serif }

a:link {
  color: blue }

a:visited {
  color: purple }

input.button {
    height: 50pt;
    font-size: 30pt;
    width: 100%;
}

input.time_button {
    height: 50pt;
    font-size: 30pt;
    width: 100%;
}

input.button_smaller {
    height: 30pt;
    font-size: 20pt;
    width: 100%;
}

input.text_box {
    font-size: 30pt;
    width: 100%;
}

input.check_box {

}

td.message {
    color: white;
    font-size: 20pt;
}

td.result {
    text-align: left;
    font-size: 20pt;
    color: white;
    background-color: black;
    height: 30pt;
}

td.resultOK {
    text-align: center;
    font-size: 30pt;
    color: white;
    background-color: green;
    height: 50pt;
}

td.resultNOK {
    text-align: center;
    font-size: 30pt;
    color: white;
    background-color: red;
    height: 50pt;
}
