<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="brandweer Dilbeek Asse easycadasse">
		<meta name="description" content="Easy interface to easycad.zvbw.be">
		<meta name="author" content="Broen van Besien">
		<title>Easycad App</title>
		<!-- <base href=""> -->
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>

	<body>
		<form method="post" action="easycadasseapp">
			<input type="hidden" name="txt_username" value="{{username}}"></input>
			<input type="hidden" name="txt_password" value="{{password}}"></input>
			<input type="hidden" name="txt_until" value="{{until}}"></input>
			<input type="hidden" name="state" value="{{state}}"></input>
			<table width=480 align="center">
				<tr><td class="resultOK">Bent u zeker?</td></tr>
				<tr><td class="message">{{details}}</td></tr>
				<tr><td><input type="submit" class="button" name="btn_confirm_state_change" value="OK!"/></td></tr>
				<tr><td class="message"><hr/></td></tr>
				<tr><td><input type="submit" class="button" name="btn_to_main_menu" value="Terug"/></td></tr>
			</table>
		</form>
	</body>
</html>
