<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="refresh" content="0; url={{url}}"/>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="brandweer Dilbeek Asse easycadasse">
		<meta name="description" content="Easy interface to easycad.zvbw.be">
		<meta name="author" content="Broen van Besien">
		<title>Even geduld...</title>
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>
</html>
