<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="">
		<meta name="description" content="Easy interface to easycad.zvbw.be">
		<meta name="author" content="Broen van Besien">
		<title>Easycad App</title>
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>

	<body>
		<div id="wrapper" style="width:100%; text-align:center">
			<img src="data:image/png;base64,{{station_state_image_src}}"/>
		</div>
		<div id="wrapper" style="width:100%; text-align:center">
			<img src="data:image/png;base64,{{usage_image_src}}"/>
		</div>
		<table width=480 align="center">
			<form method="post" action="">
			<tr><td><input type="submit" class="button" name="btn_to_main_menu" value="Terug"/></td></tr>
			</form>
		</table>
	</body>
</html>
