<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="brandweer Dilbeek Asse easycadasse">
		<meta name="description" content="Easy interface to easycad.zvbw.be">
		<meta name="author" content="Broen van Besien">
		<title>Easycad App</title>
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>

	<body>
		<form method="post" action="easycadasseapp">
		<table id="tbl_get_status" align="center">
			<tr><td><input class="button" type="submit" name="btn_state_dilbeek" value="Status Dilbeek"/></td></tr>
			<tr><td><input class="button" type="submit" name="btn_history" value="Laatste 48u"/></td></tr>
		</table>
		<table id="tbl_line1" align="center">
			<tr><td class="message"><hr/></td></tr>
		</table>
		<table id="tbl_set_status" align="center">
			<colgroup span="3" width="33.3%">
			<input type="hidden" name="post_phase" value="redirect"></input>
			<tr><td colspan="3"><input class="button" type="submit" name="btn_unavailable" value="Onbeschikbaar"/></td></tr>
			<tr><td colspan="3"><input class="button" type="submit" name="btn_in_station" value="Tijdelijk in kazerne"/></td></tr>
			<tr><td colspan="3"><input class="button" type="submit" name="btn_in_VTO_in_station" value="In VTO in kazerne"/></td></tr>
			<tr>
				<td><input class="button" type="submit" name="btn_on_5_plus" value="5 +"/></td>
				<td><input class="button" type="submit" name="btn_on_10_plus" value="10 +"/></td>
				<td><input class="button" type="submit" name="btn_on_15_plus" value="15 +"/></td>
			</tr>
			<tr>
				<td><input class="button" type="submit" name="btn_on_5" value="5"/></td>
				<td><input class="button" type="submit" name="btn_on_10" value="10"/></td>
				<td><input class="button" type="submit" name="btn_on_15" value="15"/></td>
			</tr>
			<tr><td colspan="3"><input class="button" type="submit" name="btn_reserve" value="Reserve"/></td></tr>
			<tr><td colspan="3" class="message">...tot: (bv: 7:00 of 21:30)</td></tr>
		</table>
		<table id="tbl_time" align="center">
			<colgroup span="3" width="33.3%">
			<tr>
				<td colspan="3"><input class="text_box" type="text" name="txt_until" value="{{until}}"/></td>
			</tr>
			<tr>
				<td><input class="time_button" type="button" value="1u" onclick="put_until('1:00')"/></td>
				<td><input class="time_button" type="button" value="7u" onclick="put_until('7:00')"/></td>
				<td><input class="time_button" type="button" value="10u" onclick="put_until('10:00')"/></td>
			</tr>
			<tr>
				<td><input class="time_button" type="button" value="13u" onclick="put_until('13:00')"/></td>
				<td><input class="time_button" type="button" value="16u" onclick="put_until('16:00')"/></td>
				<td><input class="time_button" type="button" value="19u" onclick="put_until('19:00')"/></td>
			</tr>
		</table>
		<table id="tbl_line2" align="center">
			<tr><td class="message"><hr/></td></tr>
		</table>
		<table id="tbl_login" align="center">
			<colgroup>
				<col width="50%">
				<col width="50%">
			</colgroup>
			<tr><td colspan="2" class="message">Gebruikersnaam:</td></tr>
			<tr><td colspan="2"><input class="text_box" tabindex=1 type="text" name="txt_username" value="{{username}}"/></td></tr>
			<tr>
				<td class="message" align="left">Paswoord:</td>
				<td class="message" align="right">Onthouden: <input class="check_box" type="checkbox" name="chb_remember" {{remember}}></td>
			</tr>
			<tr><td colspan="2"><input class="text_box" tabindex=2 type="password" name="txt_password" value="{{password}}"/></td></tr>
			<tr>
				<td><input class="button_smaller" type="submit" name="btn_test_password" value="Test paswoord"/></td>
				<td><input class="button_smaller" type="submit" name="btn_forget_password" value="Wis paswoord"/></td>
			</tr>
			<tr><td colspan="2"><input class="button" type="submit" name="btn_current_state" value="Mijn huidige status"/></td></tr>
			<!--<tr><td colspan="2"><input class="button" type="submit" name="btn_graph" value="Statistieken"/></td></tr>-->
		</table>
		</form>
	</body>

	<script>
		function put_until(val){
			document.getElementsByName("txt_until")[0].value=val;
		};

		function getDegrees(){
			if(window.orientation == 0){
				return 0;
			}
			if(window.orientation == 90){
				return 90;
			}
			if(window.orientation == -90){
				return -90;
			}
			else{
				return "NaN";
			}
		};

		function getOrientation(){
			return Math.abs(window.orientation) - 90 == 0 ? "landscape" : "portrait";
		};

		function getClientPageWidth(){
			return getOrientation() == "landscape" ? document.body.clientHeight : document.body.clientWidth;
		};

		function getClientPageHeight(){
			return getOrientation() == "landscape" ? document.body.clientWidth : document.body.clientHeight;
		};

		function getMobileWidth(){
			return getOrientation() == "landscape" ? screen.availHeight : screen.availWidth;
		};

		function getMobileHeight(){
			return getOrientation() == "landscape" ? screen.availWidth : screen.availHeight;
		};

		function calculateTableWidth(){
			fullWidth = (getOrientation() == "landscape" ? screen.availHeight : screen.availWidth);
			return 460;
		};

		document.getElementById("tbl_get_status").style.width=calculateTableWidth() + "px";
		document.getElementById("tbl_line1").style.width=calculateTableWidth() + "px";
		document.getElementById("tbl_set_status").style.width=calculateTableWidth() + "px";
		document.getElementById("tbl_time").style.width=calculateTableWidth() + "px";
		document.getElementById("tbl_line2").style.width=calculateTableWidth() + "px";
		document.getElementById("tbl_login").style.width=calculateTableWidth() + "px";
	</script>
</html>
