<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="brandweer Dilbeek Asse easycadasse">
		<meta name="description" content="Easy interface to easycad.zvbw.be">
		<meta name="author" content="Broen van Besien">
		<title>Even geduld...</title>
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
		<link rel="icon" type="image/x-icon" href="favicon.ico">
	</head>

	<script type="text/javascript">
		window.onload = function() {
			document.forms["redirect"].submit();
		}
	</script>

	<body>
		<table width=480 align="center">
			<tr><td class="resultOK">Even geduld...</td></tr>
			<tr><td align="center"><img src="images/patience.gif" width=220 height=220 alt="Aan het laden..."></img></td></tr>
			<tr><td align="center"><img src="images/logo_bg_black.png" width=289 height=281 alt="Aan het laden..."></img></td></tr>
		</table>
		<form name="redirect" method="post" action="">
			<input type="hidden" name="txt_username" value="{{username}}"></input>
			<input type="hidden" name="txt_password" value="{{password}}"></input>
			<input type="hidden" name="txt_until" value="{{until}}"></input>
			<input type="hidden" name="state" value="{{state}}"></input>
			<input type="hidden" name="redirect_function" value="{{redirect_function}}"></input>
		</form>
	</body>
</html>
