<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="keywords" content="brandweer Dilbeek Asse easycadasse">
		<meta name="description" content="Easy interface to easycad.zvbw.be">
		<meta name="author" content="Broen van Besien">
		<title>Easycad App</title>
		<!-- <base href=""> -->
		<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">
		<!-- <link rel="stylesheet" type="text/css" media="print" href="stylesheets/print.css"> -->
		<!-- <link rel="alternative stylesheet" type="text/css" media="screen" href="stylesheets/accessibility.css"> -->
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<!-- <script type="text/javascript" src="js/global.js"></script> -->
		<!-- <script type="text/javascript" src="js/#.js"></script> -->
	</head>

	<body>
		<table width=480 align="center">
			<tr><td class="{{result_class}}">{{message}}</td></tr>
			<tr><td class="message">{{details}}</td></tr>
		<form method="post" action="easycadasseapp">
		<tr><td><input type="submit" class="button" name="btn_to_main_menu" value="Terug"/></td></tr>
		</form>
		</table>
	</body>
</html>
